- content_for :hero_title do
  = "Volunteer Applications (Paged)"
  %br
  %h3= "for: #{@event.name}"

.col-md-12.upper_header
  .panel.default
    .top-key-factor
      .event_day__inner.row.filters
        .col-md-3.text-left
          = form_tag applies_path(@event), method: 'get' do
            .input-group
              = text_field_tag "q", params[:q] ? params[:q] : nil, class: "form-control", placeholder: "Name or Email"
              %span.input-group-btn
                = submit_tag("Search", class: "btn btn-default")
        .col-md-2.text-right
          %label{for: "job[:slug]"}
            Prefered Roles
        .col-md-2.text-right
          = form_tag applies_path(@event), method: 'get' do
            = hidden_field_tag "view", @view_type == "paged" ? "" : "all"
            = hidden_field_tag "status", params[:status] ? params[:status] : nil
            = hidden_field_tag "q", params[:q] ? params[:q] : nil
            = collection_select(:job, :slug, @event.jobs, :slug, :title, {selected: params[:job] ? params[:job][:slug] : nil, include_blank: "All roles"}, class: "form-control")
        .col-md-1.text-right
          %label{for: "job[:slug]"}
            Status
        .col-md-2.text-right
          = form_tag applies_path(@event), method: 'get' do
            = hidden_field_tag "view", @view_type == "paged" ? "" : "all"
            = hidden_field_tag "job[slug]", params[:job] ? params[:job][:slug] : nil
            = hidden_field_tag "q", params[:q] ? params[:q] : nil
            %select{name: 'status', class: 'form-control', id: 'status_selector'}
              %option{value: 'all_states'}
                = "All States"
              - @statuses.each do |status|
                %option{ value: status, selected: params[:status] && params[:status] == status ? 'selecte' : nil }
                  = status.titleize
                }
        .col-md-2.text-right
          - if @view_type == "paged"
            = link_to "View all applications ->", event_applies_path(@event, view: "all")
          - else
            = link_to "View paged applications ->", event_applies_path(@event)
  .panel.default
    .top-key-factor
      .event_day__inner.row.filters
        .col-md-3.text-left
          = "Total applications: #{@count}"
        .col-md-3.text-left
          = "Accepted applications: #{@accepted}"
        .col-md-3.text-right
          = "Denied applications: #{@denied}"
        .col-md-3.text-right
          = "Confirmed spots: #{@confirmed}"
.col-md-12.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        = form_tag(accept_multiple_path, method: :patch) do
          %table.table.table-hover
            %thead
              %tr.sortable
                %th{colspan: "2"} Application
                %th
                  = sortable "users.last_name", "Volunteer [sort]"
                %th
                  = "Email"
                %th
                  = sortable "applies.created_at", "Submitted [sort]"
                %th 
                  = sortable "applies.rating", "Rating [sort]"
                %th
                  = "Approve"
                %th
                  = "Waitlist"
                %th
                  = "Deny"
                %th
                  = "Confirmed ?"
              %tr.info-row
                %td
                %td
                %td
                %td
                %td
                %td
                %td.centered
                  = "All "
                  = check_box_tag "select_all_accept"
                %td.centered
                  = "All "
                  = check_box_tag "select_all_waitlist"
                %td.centered
                  = "All "
                  = check_box_tag "select_all_deny"
                %td
            %tbody
              = render partial: "application", collection: @applications
            %tfoot
              %tr
                %td
                %td
                %td
                %td
                %td
                %td
                %td{colspan: 3, class: "centered"}
                  = submit_tag "Submit & Send", data: { confirm: "Are you sure? This will send out emails to all selected volunteers." }
                %td

-if @view_type == "paged"
  .col-md-12.lower_footer
    .panel.default.with-pagination
      .top-key-factor
        .event_day__inner
          = will_paginate @applications

.col-md-12
  / Hacky, but needed for the ratings as I can't nest them above (form within form)
  - @applications.each do |app|
    = simple_form_for app, remote: true, authenticity_token: true do |f|
      %span

