- content_for :hero_title do
  Apply to volunteer at #{@event.name}
.col-md-12.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        %p= "Your application has been received! Thanks very much for your interest. We’ll be in touch once applications close on #{@event.application_closing_date.strftime("#{@event.application_closing_date.day.ordinalize} %B")}."
      .event_day__inner
        = link_to 'My Details', edit_user_path(current_user)
        = link_to 'Edit my application', edit_apply_path(@application)