.nested-fields
  / .small
  /   = f.count
  - unless f.object.volunteer.nil?
    %div.assigned_shift
      %span
        Shift Assigned to:
      %h5
        - user = f.object.volunteer
        = link_to user.full_name.capitalize, user
      %span.remove
        = link_to_remove_association "x", f
  - else
    %div.assigned_shift.unassigned
      = f.association :volunteer,
      collection: @vols,
      label_method: :select_label
      = f.hidden_field :job_id, value: @job.id
      = f.hidden_field :event_day_id, value: @day.id

      %span.remove
        = link_to_remove_association "x", f