- @day = day
.col-md-4.col-sm-6.col-xs-12.event_day
  .panel.default
    .top-key-factor
      .badge-container
        %span.badge.excellent EXCELLENT
      .centerify-icon
        %span.icon
          / %img{:alt => "icon", "ng-src" => "images/icons/payment-history.svg", :src => "images/icons/payment-history.svg"}/
      .event_day__title
        = day.date.strftime("%A")
        %hr
      .event_day__inner
        = "Jobs assigned: #{day.jobs.count}"

    %button.btn.btn-info{"data-target" => "##{day.date}", "data-toggle" => "modal", :type => "button"}
      Add jobs
    %hr
    = link_to "View full day", event_event_day_path(@event, day), class: "btn btn-info"
.modal.fade{:id =>  day.date }
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Add jobs for #{day.date.strftime("%A")}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = simple_form_for day, url: event_event_day_path(@event, day) do |f|
        .modal-body

          = f.association :jobs


        .modal-footer
          = f.button :submit
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close    

/ :javascript
/   $('#myModal').modal('toggle')        