/ # = render partial: "event_days/day_full", locals: {day: @event_day}
- content_for :hero_title do
  = "#{@event_day.event.name}: #{@event_day.date.strftime("%A")}, #{@event_day.date.strftime("%d/%m/%Y")}"

- day = @event_day
.row 
  .col-sm-6.col-xs-12.event_day.event_day
    .panel.default
      .top-key-factor
        .badge-container
          %span.badge.excellent EXCELLENT
        .centerify-icon
          %span.icon
        .event_day__title
          %h5
            Jobs Assigned [#{day.jobs.count}]
        %hr    
        .event_day__inner
          %br
          %table{class: "table table-sm table-bordered"}
            %thead
              %tr
                %th
                  Job
                %th
                  Rotations
                %th
                  Shifts                  
            %tbody
              - day.jobs.each do |job|
                %tr
                  %td
                    = job.title
                  %td
                    = job.rotations_required_per_day
                  %td
                    / # TODO get this logic out of view
                    = job.rotations_required_per_day * job.workers_per_rotation
              %tr.table-info
                %td
                  Daily Totals
                %td
                  = day.total_rotations
                %td
                  = day.total_workers_needed                    

          %br
  .col-sm-6.col-xs-12.event_day.event_day
    .panel.default
      .top-key-factor
        .badge-container
          %span.badge.excellent EXCELLENT
        .centerify-icon
          %span.icon       
        .event_day__title
          %h5
            Volunteers
        %hr    
        .event_day__inner
          = "Volunteers needed: #{day.total_workers_needed}"
          %br 
        .event_day__inner
          = "Total Rotations: #{day.total_rotations}"
          %br                       
                                                                     


/ = link_to 'Edit', edit_event_path(@event)
/ \|
/ = link_to 'Back', events_path
