/ Adds an index so we can show each row with a number
-index = (!@number_per_page.nil? && params[:page]) ? ((params[:page].to_i - 1) * @number_per_page + application_counter + 1) :application_counter + 1
-user = application.user
%tr
  %th{:scope => "row"}
    #{index}
  %td 
    = link_to "#{user.last_name.titleize}, #{user.first_name.titleize}", application.user
  %td 
    = application.created_at.strftime("%d/%m/%Y")
  / %td
  /   TODO
  %td
    = link_to "View", application
  %td
    = simple_form_for application, remote: true, authenticity_token: true do |f|
      .star-rating{data: {score: application.rating }}
  %td 
    / - if application.accepted?
    /   Yep
    / - else
    /   = link_to "Approve", approve_application_for_event_path(application), remote: true, class: "btn btn-info"
    -if application.accepted
      = check_box_tag "application_ids[]", application.id, true, disabled: true
    -else
      = check_box_tag "application_ids[]", application.id