/ Adds an index so we can show each row with a number
-index = application_counter + 1
%tr
  %th{:scope => "row"}
    #{index}
  %td 
    = link_to application.user.full_name, application.user
  %td 
    = application.updated_at.strftime("%d/%m/%Y")
  %td 
    - if application.accepted?
      Yep
    - else
      = link_to "Approve", approve_application_for_event_path(application), remote: true, class: "btn btn-primary"
  %td
    TODO
  %td
    = link_to "View", application
