/ # = simple_form_for([@current_user, @event, @application]) do |f|
= simple_form_for(@application) do |f|

  .col-md-4.offset-md-4
    = f.error_notification
    .inputs
      = f.simple_fields_for :user do |v|
        = v.input :email, required: true, autofocus: true, input_html: { class: "signin-text", autocomplete: 'off' }
        = v.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), input_html: { class: "signin-text-password", autocomplete: 'off' }
        = v.input :password_confirmation, required: true, input_html: { class: "signin-text-password", autocomplete: 'off' }

    .actions
      = f.button :submit
