/ = simple_form_for([@current_user, @event, @application]) do |f|
- if flash[:error].present?
  #error_explanation
    %p= flash[:error]
= simple_form_for @application, :html=> { class: "application_form" } do |f|

  .col-md-8.col-md-offset-2.panel.default
    / = help
    = f.error_notification
    = f.hidden_field :event_id, value: params[:event_id] ? params[:event_id] : @current_event.id
    = f.hidden_field :user_id, value: @current_user.id
    = f.simple_fields_for :user do |f|
      %h3 About You
      %hr
      .inputs.row
        .col-md-6
          = f.input :first_name, autofocus: true, required: true
        .col-md-6
          = f.input :last_name, required: true
        .col-md-12
          .row
            .col-md-6
              = f.input :email, required: true, input_html: { class: "signin-text", autocomplete: 'off' }, label: "Email (also your account login)"
            .col-md-6
              %label.hidden hidden
              %small.form-text.text-muted This email will be used for all correspondence. Please check regularly, including spam folder.
        .col-md-6
          = f.input :mobile_number , required: true     
        .col-md-6
          = f.input :birthday, start_year: 60.years.ago.year, end_year: 18.years.ago.year, required: true, order: [:day, :month, :year], selected: 21.years.ago
      = f.simple_fields_for :emergency_contact do |f|
        %p Your Emergency Contact
        / %hr        
        .inputs.row
          .col-md-4
            = f.input :name, label: "Emergency Contact Name"
          .col-md-4
            = f.input :phone_number, label: "Their Phone Number"
          .col-md-4
            = f.input :relationship, label: "Their Relationship to You"
      %p Medical Conditions
      / %hr
      .inputs.row          
        .col-md-12
          = f.input :medical_conditions, label: "Please list any conditions you may have that should be known to the organisers"

    %h3 Shifts
    %hr
    %p Have you...
    .inputs.row
      .col-md-6
        = f.label :volunteered_before, "Volunteered at #{@current_event.name} before?"
        .row
          .col-md-4
            = f.input :volunteered_before, as: :select, include_blank: false, label: false
      .col-md-6
        =f.label :been_before, "Been to #{@current_event.name} before?"      
        .row
          .col-md-4      
            = f.input :been_before, as: :select, include_blank: false, label: false
    .inputs.row
      .col-md-12
        %p
          Which volunteer role are you applying for?
        %label
          Please select up to 3 preferences from the drop down list below - keeping in mind that there are special requirements to be a Wilderness or Ranger volunteer:
        %small.text-muted
          %i
            Ranger volunteer: 
          Rangers will be stationed in our Helper Huts and roam the event looking after the wellbeing of our patrons. This role consists of 2 x 6 hour shifts and will require mandatory attendance at a Dancewize training session before undertaking the role. 
          %br
          %br
          %i
            Wilderness Volunteer: 
          Open to those who can provide evidence of membership or volunteer association with The Wilderness Society. Complete 2 days work after the festival helping to restore our site to pristine condition, and we will donate the cost of a final round ticket to TWS. We will provide you with a full festival ticket and 2 square meals a day.
          %br
          %br
          %i
            All other roles: 
          complete a minimum of 8 hours in exchange for a ticket.
          %br
          %br
      .col-md-12
        = f.association :preferred_jobs, collection: @current_event.jobs, label: false
      / .col-md-6
      / = f.simple_fields_for :user do |f|
      / = f.association :preferred_departments, label: "For general volunteer applications, what is your preferred volunteer department?"            
    %p Why would you like to volunteer?
    .inputs.row
      .col-md-12
        = f.input :info, as: :text, label: "... and what relevant skills can you offer? Please list your previous experience in dot points. If you have proof, you can upload it below."
    %p Evidence for skills / qualifying documents
    %small.form-text.text-muted i.e. first aid certificate, counsellor certificate...
    .inputs.row    
      = f.simple_fields_for :user do |f|    
        / .inputs.row
        = f.simple_fields_for :skills do |skill|
        
          = render 'skill_fields', :f => skill
        .inputs
          .links.col-md-12
            %p
              = link_to_add_association '+ add new document', f, :skills, class: "btn btn-default btn-xs"
    %p Friends
    / %hr            
    .inputs.row
      .col-md-12
        = f.input :friends_or_referrals, label: "List any friends also applying whom you would like to work with, or any organiser who referred you to the role"
    %h3.inputs.row
      .col-sm-8
        Purchase Volunteer Shirt
      .col-sm-4
        =image_tag "powered_by_stripe.png"
    %hr
    %small.form-text.text-muted All volunteers must contribute $15 towards their volunteer t-shirt. You will only be charged if you are sent an official offer which you can accept via your volunteer profile.
    %br
    .inputs.row          
      .col-md-12
        = javascript_include_tag "https://js.stripe.com/v2/"
        :javascript
          Stripe.setPublishableKey('#{ENV['STRIPE_PUBLISHABLE_KEY']}');
          console.log(Stripe);

        %span.payment-errors

    .inputs.row          
      .col-md-7
        .form-group  
          %label
            %span Card Number
          %input{"data-stripe" => "number", :type => "text", class: "form-control", required: true }/        
      .col-md-2
        .form-group  
          %label
            %span CVC
          %input{"data-stripe" => "cvc", :size => "4", :type => "text", class: "form-control", required: true}/
      .col-md-3
        .form-group  
          %label
            %span Expiration (MM/YY)
          .form-inline
            %input{"data-stripe" => "exp-month", :size => "2", :type => "text", class: "form-control", required: true}/
            %span /
            %input{"data-stripe" => "exp-year", :size => "2", :type => "text", class: "form-control", required: true}/
      .col-md-12
        %small.form-text.text-muted 
          = "If you accept your place and fail to meet the expectations laid out #{link_to 'here', pages_terms_path, target: '_blank'} and in the #{content_tag('a', 'Volunteer Agreement', 'data-target' =>'#myModal', 'data-toggle' => 'modal')}, you will be charged $#{@event.ticket_price_cents / 100}".html_safe
     
    %hr            
    .inputs.row
      .col-md-12
        = f.input :terms_accepted, label: ("All volunteers must accept the #{content_tag('a', 'STRAWBERRY FIELDS VOLUNTEER AGREEMENT', 'data-target' =>'#myModal', 'data-toggle' => 'modal')}").html_safe
    .actions
      .form-group
        = f.button :submit, "Submit"
