- content_for :hero_title do
  = "Volunteer Applications"
  %br
  %h3= "for: #{@event.name}"

.col-md-10.col-md-offset-1.upper_header
  .panel.default
    .top-key-factor
      .event_day__inner
        = "Total applications received: #{@count}"

.col-md-10.col-md-offset-1.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        %table.table.table-hover
          %thead
            %tr.sortable
              %th #
              %th
                = sortable "users.last_name", "Volunteer"
              %th
                = sortable "created_at", "Submitted"
              %th Accept
              / %th Shift
              %th Application
              %th 
                = sortable "rating", "Rating"
          %tbody
            = render partial: "application", collection: @applications

.col-md-10.col-md-offset-1.lower_footer
  .panel.default.with-pagination
    .top-key-factor
      .event_day__inner
        = will_paginate @applications
