- content_for :hero_title do
  = "Volunteer Applications (All)"
  %br
  %h3= "for: #{@event.name}"

.col-md-10.col-md-offset-1.upper_header
  .panel.default
    .top-key-factor
      .event_day__inner.row
        .col-md-6.text-left
          = "Total applications received: #{@count}"
        .col-md-6.text-right
          = link_to "<- View paged applications", event_application_for_events_path(@event)

.col-md-10.col-md-offset-1.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        %table.table.table-hover
          %thead
            %tr.sortable
              %th #
              %th
                = sortable "users.last_name", "Volunteer [sort]"
              %th
                = sortable "created_at", "Submitted [sort]"
              %th Accept
              / %th Shift
              %th Application
              %th 
                = sortable "rating", "Rating [sort]"
          %tbody
            = render partial: "application", collection: @applications