- content_for :hero_title do
  = "Application"
  %br
  %h3= "for: volunteer @ #{@current_event.name}, from: #{@application.user.full_name}"
  

.col-md-10.col-md-offset-1.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        %table.table
          %thead
            %tr
              %th Volunteer
              %th Submitted
              %th Accept
              %th Shift
          %tbody
            = render partial: "full_application", locals: {application: @application}