- content_for :hero_title do
  = "#{@event.name}: Jobs"
- @jobs.each do |job|
  %b 
    = job.title
  %p
    = job.description
  - if job.skill_requirements.any?
    %ul 
      Requirements:
      - job.skill_requirements.each do |req|
        %li
          = "#{req.title}: #{req.description}"
  %table.table
    %tbody
      %tr
        = simple_form_for job, url: event_job_path(@event, job)  do |f|
          %td
            = f.input :rotations_required_per_day
          %td
            = f.input :workers_per_rotation         
          %td
            = f.input :hours_per_rotation
          %td
            .actions
              .form-group
                %label.hides.control-label
                  Update
                %div
                  = f.submit "Update Job", class: "btn"
= simple_form_for @event do |f|
  #jobs
    = f.simple_fields_for :jobs do |job|
      / = render 'job_fields', f: job
    .links
      = link_to_add_association '+ Add a Job', f, :jobs, class: "btn"
  = f.submit "Save (if you've added a new job)", class: "btn"                  