- @jobs.each do |job|
  %b 
    = job.title
  %p
    = job.description
  - if job.skill_requirements.any?
    %ul 
      Requirements:
      - job.skill_requirements.each do |req|
        %li
          = "#{req.title}: #{req.description}"
= simple_form_for @event do |f|
  %h3 Jobs
  #jobs
    = f.simple_fields_for :jobs do |job|
      / = render 'job_fields', f: job
    .links
      = link_to_add_association 'add job', f, :jobs
  = f.submit "Save Jobs"