%h5
  My Applications
.user-details.panel.default
  - @user.applications.each do |app|
    .row
      .col-md-4
        = app.event.name
      .col-md-5
        Status: 
        - if app.accepted?
          Accepted
        - else
          Waiting Approval
      .col-md-3
        / # = link_to 'Edit my application', edit_application_for_event_path(app)
        Applications are closed
      - if app.accepted?
        %br
        %hr
        .col-md-3
          = "Actions:"
        .col-md-9
          - if app.invitation_accepted?
            %span{style: "color: green;"}
              Your volunteer spot is secure.  You'll soon receive your shift schedule.
          - else
            - if @user.stripe_customer_id.nil?
              = "We don't have a credit card on file for your account.  We can't confirm your spot without one.  Please contact volunteers@strawberry-fields.com.au to continue with your position."
            - else
              = link_to "Confirm my spot", accept_invitation_application_for_event_path(app), class: "btn btn-success", data: { confirm: "Securing your spot requires a $15 volunteer t-shirt purchase; this will be charged to your card." }
              = link_to "Decline", decline_invitation_application_for_event_path(app), class: "btn btn-default", data: { confirm: "Are you sure?" }
        .col-md-12
          %hr
          %span.small
            If your card has expired or you have other payment issues, please let us know at volunteers.strawberry-fields.com.au.  We'll be updating the site shortly to allow you to input a new card. Thanks for your patience