%h5
  My Applications
.user-details.panel.default
  - if @user.applications.empty?
    .row
      .col-md-12
        %small.form-text.text-muted You don't have any current applications. Check back soon for new events to apply for.
  - @user.applications.each do |app|
    - case app.state
    - when "submitted"
      - status_label = "default"
    - when "accepted"
      - status_label = "success"
    - when "waitlisted"
      - status_label = "warning"
    - when "denied"
      - status_label = "danger"
    - when "confirmed"
      - status_label = "success"

    .row
      .col-md-4
        = app.event.name
      .col-md-5
        Status
        %span.label{ class: "label-#{status_label}" }
          = app.state.titleize
      .col-md-3
        / # = link_to 'Edit my application', edit_apply_path(app)
        Applications are closed
      - if app.accepted?
        %br
        %hr
        .col-md-3
          = "Actions:"
        .col-md-9
          - if app.confirmed?
            %span{style: "color: green;"}
              Your volunteer spot is secure.  You'll soon receive your shift schedule.
          - else
            - if @user.stripe_customer_id.nil?
              = "We don't have a credit card on file for your account.  We can't confirm your spot without one.  Please contact volunteers@strawberry-fields.com.au to continue with your position."
            - else
              = link_to "Confirm my spot", accept_invitation_apply_path(app), class: "btn btn-success", data: { confirm: "Securing your spot requires a $15 volunteer t-shirt purchase; this will be charged to your card." }
              = link_to "Decline", decline_invitation_apply_path(app), class: "btn btn-default", data: { confirm: "Are you sure?" }
        .col-md-12
          %hr
          %span.small
            This site is developed by 'Built in Code'. Charges will show up in your bank from Built in Code LLC.