= simple_form_for(@user) do |f|
  = f.error_notification

  %h5
    Contact Details
  .user-details.panel.default
    .row
      .col-md-6
        = f.input :first_name
      .col-md-6
        = f.input :last_name
      .col-md-6
        = f.input :email
      .col-md-6
        = f.input :mobile_number      
      .col-md-6
        = f.input :birthday

    .actions.text-right
      = f.button :submit, "Update Details"
