= simple_form_for(@user) do |f|
  = f.error_notification

  .inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email
    = f.input :birthday
    = f.input :mobile_number
  / %h3 Skills
  / #skills
  /   = f.simple_fields_for :skills do |skill|
  /     = render 'skill_fields', f: skill
  /   .links
  /     = link_to_add_association 'add skill', f, :skills    

  .actions
    = f.button :submit
