= simple_form_for(@user) do |f|
  = f.error_notification

  %h5
    Contact Details
  .user-details.panel.default
    .row
      .col-md-6
        = f.input :first_name
      .col-md-6
        = f.input :last_name
      .col-md-6
        = f.input :email
      .col-md-6
        = f.input :mobile_number      
      .col-md-6
        = f.input :birthday, start_year: 60.years.ago.year, end_year: 18.years.ago.year, required: true, order: [:day, :month, :year]

    .actions.text-right
      = f.button :submit, "Update Details"
