.row
  .col-md-12
    %h5
      Payment Methods
.user-details.panel.default
  .row
    .col-md-12
      %small.form-text.text-muted All volunteer applications require a payment method to secure your spot. You'll need a valid card to accept apply for positions or accept offered positions.
  - if @customer && @customer.sources.total_count > 0
    .row
      .col-md-12
        %table.table.table-hover
          %thead
            %tr
              %td
                Card
              %td
                Last 4
              %td
                Expiry
          %tbody
            - @customer.sources.each do |card|
              %tr
                %td
                  %i
                    = card.brand
                %td
                  %i
                    = card.last4
                %td
                  %i
                    = "#{card.exp_month}/#{card.exp_year}"
        
  .row.pad-top
    .col-xs-4
      %a{class: "btn btn-default js-add-card"}
        = @customer && @customer.sources.total_count > 0 ? "+ Update card" : "+ Add Card"
    .col-xs-8.align-right
      =image_tag("powered_by_stripe.png")
  = simple_form_for @user, :html=> { class: "js-payment-form hidden" } do |f|
    = f.hidden_field :stripe_customer_id
    .inputs.row          
      .col-md-12
        = javascript_include_tag "https://js.stripe.com/v2/"
        :javascript
          Stripe.setPublishableKey('#{ENV['STRIPE_PUBLISHABLE_KEY']}');
          console.log(Stripe);

        %span.payment-errors

    .inputs.row
      .col-xs-12.col-sm-6
        .form-group  
          %label
            %span Name
          %input{"data-stripe" => "name", :type => "text", class: "form-control", required: true, value: @user.full_name }
      .col-xs-12.col-sm-6
        .form-group  
          %label
            %span Card Number
          %input{"data-stripe" => "number", :type => "text", class: "form-control", required: true}   
      .col-xs-12.col-sm-4
        .form-group  
          %label
            %span CVC
          %input{"data-stripe" => "cvc", :size => "4", :type => "text", class: "form-control", required: true }
      .col-xs-12.col-sm-3
        .form-group  
          %label
            %span Expiration (MM/YY)
          .form-inline
            %input{"data-stripe" => "exp-month", :size => "2", :type => "text", class: "form-control", required: true}
            %span /
            %input{"data-stripe" => "exp-year", :size => "2", :type => "text", class: "form-control", required: true}
      .col-xs-12.col-sm-4
        .form-group  
          %label
            %span Postcode
          %input{"data-stripe" => "address_zip", :size => "5", :type => "text", class: "form-control", required: true}

    .actions
      %div
        = f.button :submit, "Submit"
  .row
    .col-md-12
      %hr
      %span.small
        This site is developed by web agency 'Built in Code'. Charges will show up in your bank from Built in Code LLC.