%h5
  = "Current Information"

.user-details
  .row
    .col-md-3
      = image_tag @user.avatar.url(:thumb)
    .col-md-9
      = simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
        = f.error_notification

        .inputs
          = f.input :avatar, label: false
        .actions.text-right
          = f.button :submit
.user-details
  .row
    .col-md-12        
      = @user.full_name
      %br
      = @user.email
      %br
      = @user.mobile_number
      %hr      
  .row
    .col-md-12         
      %br
      = @user.birthday
/ %br
/ %b Shifts made:
/ = @user.shifts_made
/ %br
/ %b Shifts missed:
/ = @user.shifts_missed
/ %br
/ %b Apps accepted:
/ = @user.apps_accepted
/ %br
/ %b Hours worked:
/ = @user.hours_worked
/ %br
/ %p
/   %b Rating:
/   = @user.rating

/ - if user_signed_in?
/   = link_to('Edit login info', edit_user_registration_path)


