- content_for :hero_title do
  = "Volunteers & Managers"
  %br
  %h3= "for: #{@current_event.name}"

.col-md-12.event_header
  .panel.default
    .top-key-factor
      .event_day__inner
        / Nav tabs
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "tab", :href => "#volunteers", :role => "tab"}
              Volunteers
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#managers", :role => "tab"}
              Managers
        / Tab panes
        .tab-content
          #volunteers.tab-pane.active{:role => "tabpanel"}
            = render 'user_table', users: @volunteers

          #managers.tab-pane{:role => "tabpanel"}
            = render 'user_table', users: @managers     


%br

/ = link_to 'New User', new_user_path

