/ Renders the header section content
- content_for :page_title do
  %h1
    = "#{@user.full_name}'s details"
- content_for :page_sub_title do
  %p It's easy to manage your account.  Quickly access or update your information.

/ Renders the user's details
- content_for :profile do
  = render "user_details"

%h5
  User Stats
.user-details.panel.default
  %table.table
    %thead
      %tr
        %td
          Shifts made:
        %td
          Shifts missed:
        %td
          Apps accepted:
        %td
          Hours worked:
        %td
          Rating:
    %tbody
      %tr
        %td
          = @user.shifts_made
        %td
          = @user.shifts_missed
        %td
          = @user.apps_accepted
        %td
          = @user.hours_worked
        %td
          = @user.rating

%hr

%h5
  Applications
= render 'applications'

%hr

%h5
  Shifts
= render 'shifts'


= link_to 'Edit details', edit_user_path(@user)
- if user_signed_in?
  \|
  = link_to('Edit login info', edit_user_registration_path)


