%h1
  = "#{@user.full_name}'s details"
%p
  %b Email:
  = @user.email
%p
  %b Birthday:
  = @user.birthday
%p
  %b Mobile number:
  = @user.mobile_number
%p
  %b Slug:
  = @user.slug
%p
  %b Shifts made:
  = @user.shifts_made
%p
  %b Shifts missed:
  = @user.shifts_missed
%p
  %b Apps accepted:
  = @user.apps_accepted
%p
  %b Hours worked:
  = @user.hours_worked
%p
  %b Rating:
  = @user.rating

= link_to 'Edit details', edit_user_path(@user)
- if user_signed_in?
  \|
  = link_to('Edit login info', edit_user_registration_path)


