- content_for :hero_title do
  = @event.name
- content_for :hero_content do
  = render partial: "events/event", locals: {event: @event}

.row
  = render partial: "event_days/day", collection: @event_days


= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
