- content_for :hero_title do
  = @event.name
- content_for :cta do
  = link_to('Create jobs for this event', event_jobs_path(@event), class: 'btn btn-lg btn-success')
  = link_to("Manage applications", event_applies_path(@event), class: 'btn btn-lg btn-success')
  = link_to "Apply to volunteer", new_event_apply_path(@event), class: "btn btn-info btn-lg" 
  / Old method
  / # - if user_signed_in?
  /   # = link_to "Apply to volunteer", new_user_event_apply_path(current_user.id, @event.id), class: "btn btn-info btn-lg" 
  / # - else
  /   # = link_to "Log in to apply", new_session_path(resource_name), class: "btn btn-info btn-lg" 
.row
  = render partial: "events/event_header", locals: {event: @event}

.row
  = render partial: "event_days/day", collection: @event_days


= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
