- content_for :hero_title do
  = @event.name
- content_for :cta do
  = link_to('Create jobs for this event', event_jobs_path(@event), class: 'btn btn-lg btn-success')
  = link_to("Manage applications", event_application_for_events_path(@event), class: 'btn btn-lg btn-success')
  - if user_signed_in?
    / =  current_user.applications
    = link_to "Apply to volunteer", new_user_event_application_for_event_path(current_user.id, @event.id), class: "btn btn-primary btn-lg"  
.row
  = render partial: "events/event_header", locals: {event: @event}

.row
  = render partial: "event_days/day", collection: @event_days


= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
