- content_for :hero_title do
  = @event.name

.row
  = render partial: "event_days/day", collection: @event_days
%p
  %b Start time:
  = @event.start_time
%p
  %b End time:
  = @event.end_time
%p
  %b Event length:
  = @event.event_length
%p
  %b Ticket price cents:
  = @event.ticket_price_cents
%p
  %b Event Manager:
  = @event.client_owner.full_name

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
