%tr
  %td
    - if shift.volunteer
      = link_to shift.volunteer.full_name, shift.volunteer
    - else
      None Assigned
  %td
    - if shift.job
      = shift.job.title
    - else
      No Job Title
  %td
    - if shift.start_time
      = shift.start_time.strftime("%A %l:%M%p")
    - else
      No Start Time Set
  %td
    - if shift.length
      = "#{shift.length} hrs"
    - else
      No length set