%tr
  %td
    - if shift.volunteer
      = link_to shift.volunteer.full_name, shift.volunteer
    - else
      None Assigned
  %td
    - if shift.job
      = shift.job.title
    - else
      No Job Title
  %td
    = shift.start_time.strftime("%A %l:%M%p")
  %td
    = "#{shift.length} hrs"