%h1 List of all Events and Client Owners
%ul
  - @events.each do |event|
    %li
      %ul
        %h3
          = link_to(event.name, event_path(event))
        %li
          = "Start date: "
          = event.start_time        
        %li
          = "Owner: "
          = link_to(event.client_owner.full_name, user_path(event.client_owner))