!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Volunteer Management Platform
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://js.stripe.com/v2/', 'data-turbolinks-track': 'reload'
  %body{ class: "#{controller.action_name} " "#{controller.controller_path}" }
    / Renders the global header
    = render "layouts/header"
    / Mastead - Title & subtitle
    %main
      .jumbotron
        / .full-overlay
        .container-fluid
          = flash_messages
          %h1.display-3
            = yield :page_title
          %p.lead
            = yield :page_sub_title
          = yield :cta
      .container-fluid
        .row.marketing
          .col-lg-4
            = yield :profile
          .col-lg-8
            = yield
    / Renders the global footer
    = render "layouts/footer"