!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Volunteer Management Platform
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .header.clearfix
        %nav
          %ul.nav.nav-pills.float-right
            %li.nav-item
              =link_to("Home", root_path, class: "nav-link #{active_class(root_path)}")
            %li.nav-item
              =link_to("Events", events_path, class: "nav-link #{active_class(events_path)}")
            = render 'users/menu/registration_items'
            = render 'users/menu/login_items'                
        %h3.text-muted Volunteer Management
      = flash_messages
      .jumbotron
        %h1.display-3 Manage Volunteers
        %p.lead Alpha version of volunteer management application.  Please direct any questions to hello@builtincode.com
        %p
          - if user_signed_in?
            = link_to('Edit your account', edit_user_registration_path, class: 'btn btn-lg btn-success')
          - else
            = link_to('Become a volunteer', new_user_registration_path, class: 'btn btn-lg btn-success')
      .row.marketing
        .col-lg-12
          = yield
      %footer.footer
        %p 
          = "© Volunteer Management Platform #{Time.now.year}"

      - if Rails.env == 'development'
        = console          