!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Volunteer Management Platform
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / = javascript_pack_tag 'application'
  %body
    / Renders the global header
    = render "layouts/header"
    %main
      .jumbotron
        / .full-overlay
        .container
          = flash_messages 
          %h1.display-3
            = yield :hero_title
          %p.lead Alpha version of volunteer management application.  Please direct any questions to hello@builtincode.com
          = yield :cta
          / %p
          /   - if user_signed_in?
          /     = link_to('Edit your account', edit_user_registration_path, class: 'btn btn-lg btn-success')
          /   - else
          /     = link_to('Become a volunteer', new_user_registration_path, class: 'btn btn-lg btn-success')
          .row
            = yield :hero_content
      .container      
        .row.marketing
          .col-lg-12
            = yield
    / Renders the global footer          
    = render "layouts/footer"
       