- content_for :login_title do  
  %h2
    Edit Account
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  .row
    .col-md-4.col-md-offset-4
      = f.error_notification
      / = resource.errors.full_messages
      .inputs
        = f.input :email, required: true, autofocus: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
        = f.input :password_confirmation, required: false
      .actions.text-right
        = f.button :submit, "Update", class: "signin-button"
      .login-links.row
        .col-sm-12
          = link_to "Back", :back      
        .col-sm-12
          Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
